[package]
name = "chainsaw-ebpf-loader"
version.workspace = true
authors.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
aya = "0.13.1"
tokio.workspace = true
